/* RODAPÉ */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
}

.footer-bg {
  background: linear-gradient(
    to right,
    rgba(196, 196, 196, 1) 0%,
    rgba(170, 199, 130, 1) 39%,
    rgba(157, 200, 97, 1) 65%,
    rgba(144, 201, 64, 1) 100%
  );
}

.footer-logo {
  max-width: 220px;
  height: auto;  
  margin-top: -27px; 
}

footer a:hover {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

footer .bi {
  transition: transform 0.2s ease, text-shadow 0.2s ease;
}

footer .bi:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}

/* Ajustes responsivos */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
    gap: 10px;
  }

  .navbar-collapse {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) and (max-width: 320px) { 
    .footer-logo {
    max-width: 180px;
    height: auto;
  }
  .titulo{
    font-size: 1rem !important;
  }
}

@media (max-width: 768px) {
  .form {
    margin-top: 30px !important;
  }
}
