/* RESET CSS*/
*,
*::before,
*::after{
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
  -webkit-text-size-adjust:100%;
}

body{
  margin:0;
  min-width:320px;
  min-height:100vh;
  font-family:system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height:1.5;
}

img{
  max-width:100%;
  display:block;
}

p{
  overflow-wrap:break-word;
}